<link rel="import" href="../../imported-template.html">


<link rel="import" href="../../../core-icons/core-icons.html">
<link rel="import" href="../../../core-menu/core-menu.html">
<link rel="import" href="../../../core-item/core-item.html">
<polymer-element name="my-app">
  <template>

    <style>
      core-menu {
        width: 300px;
      }
    </style>
    <template bind="{{ viewmodel }}">
      <imported-template content="{{ subpage.html }}"></imported-template>
    </template>
    <!-- This could work, as well:
    <imported-template bind="{{ viewmodel }}" content="{{ viewmodel.subpage.html }}"></imported-template> 
    but it don't. Let's leave it for further investigation. (tomalec)
    -->

  </template>

  <script>
    Polymer('my-app', {
      viewmodel: {
        subpage: {
          username: 'World',
          menuItems: [
            {label: "Item 1", icon: "add"},
            {label: "Item 2", icon: "settings"},
            {label: "Item 3", icon: "delete"},
            {label: "Item 4", icon: "work"}
          ],
          html: './partials/page_3.html'
        }
      }
    });
  </script>
</polymer-element>